*{
			margin: 0%;
		}
		.navigation{
			background-color: white;
		}
		.navigation a{
			color: black;
			font-size: 25px;
			text-decoration: none;
			padding: 1.8%;
		}
		.navigation a: hover{
			background-color: lightgray;
		}
		.navigation img{
			vertical-align: middle;
		}
		.section{
			padding: 6% 0% 0% 8%;
		}
