*{
			margin: 0%;
		}
		.navigation{
			background-color: white;
		}
		.navigation a{
			color: black;
			font-size: 25px;
			text-decoration: none;
			padding: 1.8%;
		}
		.navigation a: hover{
			background-color: lightgray;
		}
		.navigation img{
			vertical-align: middle;
		}
		.section{
			padding: 6% 0% 0% 8%;
		}
.text{
			display: flex;
			justify-content: space-evenly;
			font-size: 20px;
			background-color: #f3f2f5;
			padding: 0.6%;
		}
		.sec2{
			font-family: poppins;
			display: flex;
			justify-content: space-between;
			padding: 5% 0% 5% 8%;
		}
		.India{
			font-size: 45px;
			text-decoration: none;
		}
		.recharge{
			font-size: 18px;
			margin-bottom: 5%;
		}
		.Download-app{
			background-color: black;
			width: 59%;
			padding:3%;
			border-radius: 25px;
			text-align: center;
			color:white;
			margin-top: 5%;
		}
		.Download-app:hover{
			background-color: white;
			color: black;
			
		}
		.icon i{
			margin-left: 4%;
		}
		.sec3{
		background-color:lightblue;
		padding:3% 8% 3% 8%;
		}
		.book{
			display:flex;
			justify-content:space-between;
		}
		.book a{
				text-decoration:none;
				color:white;
		}
		.sec4{
			background-color:blue;
			padding:3% 8% 3% 8%;
		}
		.sec5{
			padding: 8%;
			background-color:rgba(239,239,239,1);
			font-family: poppins;
		}
		.child{
			margin-top:15%;
			display: flex;
			justify-content: space-between;
			padding: 9%;
			background-color: white;
			 font-size: 30px;
		}
		.head{
			display: flex;
			text-decoration: none;
			color: black;
		}
		.head span{
			margin-top: 5%;
		}
		.wallet{
			font-size: 10px;
		}
		.Fastest{
			font-size:100%;
			margin-bottom: 5%;
			margin-left: 15%;
		}
		.paytm{
			font-size: 25px;
			margin-top: 5%;
			margin-left: 15%;
		}
		.transfer{
			margin-top: 2%;
			font-size: 10px;
		}
		.pay{
			font-size: 50%;
			margin-bottom: 5%;
		}
		.want{
			font-size: 100%;
		}
		.button2{
			border-radius: 15px;
			color: white;
			background-color: #0f4a8a;
			width: 24%;
			text-align: center;
			padding: 2%;
			margin-bottom: 10%;
		}





		@media (max-width: 390px){
			.navigation a{
				font-size: 4px;
			}
			.text{
				font-size: 13px;
			}
			#signin img{
				width: 2% !important;
			}
			.India{
				font-size: 15px;
			}
			.recharge{
				font-size: 7px;
			}
			.sec2img{
				width: 15%;
			}
			.Download-app{
				font-size: 6px;
			}
			.book{
				flex-direction: column;
				align-items: center;
			}
			.Wallet{
				font-size: 8px;

			}
			.Fastest{
				font-size: 10px;
			}
			.paytm{
				font-size: 10px;
			}
			.Direct{
				font-size: 20px;
			}
			.Indirect{
				font-size: 10px;
			}
			.want{
				font-size: 20px;
			}
			.postpaid{
				font-size: 10px;
			}

		}
		

		